body{
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

#profile_img{
  width: 150px;
  height: 150px;
  border-radius: 275px;
}

.btn,.socialMedia{
  width: 100%;
  background-color: #EAECF0;
  margin: 0 auto;
  height: 80px;
  border-radius: 9px;
  text-align: center;
}