body{
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

#profile_img{
  width: 150px;
  height: 150px;
  border-radius: 275px;
}

.btn{
  width: 100%;
  background-color: #EAECF0;
  margin: 0 auto;
  height: 80px;
  border-radius: 9px;
  text-align: center;
}
.socialMedia{
  background-color: #FFFFFF;
  
}
#socialBtn{
 border: none;
 background-color: #FFFFFF;

}

.footer{
  width: 100%;
}

.head{
 background-color:  #EAECF0;
  min-height: 60vh;
  font-size: 2rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} 

.formBox{
  background-color:  #EAECF0;
   min-height: 60vh;
   font-size: 2rem;
   border-radius: 20px;
  padding: 5rem;
   text-align: center;
 } 

 input{
  margin: 20px;
  border-radius: 10px;
 
 }

 input:focus{
  border: none;
 border-collapse: collapse;
 }